.top {
    width: 100%;
    height: 80px;

    background-color: #2d3436;
}

.main {
    width: 100%;
    height: 320px;

    background-color: #dfe6e9;
}

.under {
    width: 100%;
    height: 210px;

    display: flex;
    flex-direction: row;
}

.under .under__col1 {
    width: 20%;
    height: 210px;

    background-color: #2d3436;
}

.under .under__col2 { 
    width: 80%;
    height: 210px;

    display: flex;
    flex-direction: row;
}

.under .under__col2 .under__col2__sec1 { 
    width: 73%;
    height: 210px;

    background-color: #b2bec3;
}

.under .under__col2 .under__col2__sec2 { 
    width: 27%;
    height: 210px;

    background-color: #2d3436;
}